<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <h2>You are seeing this page because you have tried to use a feature of COSINT that requires a {{ .key }} API key that you have not saved.</h2>
</body>
</html>