<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <p>Create a new user <a href="{{ .capir }}/create-new-user">here</a></p>

    <h2 href="{{ .capir }}/global-search">Search globally</h2>
    <details>
        <summary>Modules</summary>
        <p href="https://nosint.org">NoSINT - NekoOsint</p>
        <p href="https://snusbase.com">Snusbase</p>
        <p href="https://github.com/soxoj/maigret">Maigret</p>
    </details>

    <h2>Search individually</h2>
    <p>Search snusbase <a href="{{ .extapir }}/snusbase">here</a></p>
    <p>Search maigret <a href="{{ .intapir }}/maigret">here</a></p>
</body>
</html>