<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <p>Create a new user <a href="{{ .capir }}/create-new-user">here</a></p>
    <p>Search snusbase <a href="{{ .extapir }}/snusbase">here</a></p>
</body>
</html>