<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
    <meta http-equiv="refresh" content="0;url={{ .apiRoute }}/cosint">
</head>
<body>
    <h1>{{ .title }}</h1>
    <p>Redirecting to <a href="{{ .apiRoute }}/cosint">{{ .apiRoute }}/cosint</a>...</p>
    <p>If you are not redirected, click the link above.</p>
</body>
</html>